﻿#mapa { 
    height: 600px; 
    width: 100%;
    border-width: 2px;
    border-color: rgb(255, 45, 45);
    border-style: groove;
}

.leaflet-control-scale {
  color: 'green';
  bottom: 550px;
  left: 0px;
}
.leaflet-control-scale-line {
  font-size: 13px!important;
}

#legend { 
    width: 130px;
    height: 220px;
    padding: 5px 10px 10px 10px;
    border:2px groove rgb(255, 45, 45);
    background-color: white;
    z-index: 9999;
    font-size:15px; 
    position: absolute; 
    top: 380px; 
    right: 0px;
}

#legend_inclinacao { 
    width: 100%;
    height: 160px;
    padding: 10px 10px 10px 10px;
    border:2px groove rgb(255, 45, 45);
    background-color: white;
    z-index: 9999;
    font-size:10px; 
    position: absolute; 
    top: 440px; 
    left: 0px;
    cursor: zoom-out;
}


#avaliacao { 
  width: 500px;
  height: 70px;
  padding: 0px 15px 50px 15px;
  border:2px groove rgb(255, 45, 45);
  background-color: white;
  margin-bottom: 0px;
  z-index: 10000;
  font-size:15px; 
  position: absolute; 
  top: 530px; 
  left: 0px;
  cursor: zoom-out;
}


#satelite {
  padding: 5px 10px 2px 10px;
  height: 32px;
  border:2px groove rgb(255, 45, 45);
  background-color: white;
  z-index: 9999;
  font-size:12px; 
  position: absolute; 
  top: 568px; 
  left: 0px;
  line-height: 1;
}

#distancias {
  background-color: white;
  font-size:15px; 
  position: absolute; 
  top: 2px; 
  right: 2px;
  z-index: 9998;
}

#topografia {
  background-color: white;
  font-size:12px; 
  position: absolute; 
  top: 0px; 
  left: 0px;
  z-index: 9999;
  border:2px groove rgb(255, 45, 45);
  cursor: zoom-in;
}

#topografia_x {
  position: absolute; 
  top: 0; 
  right: 0; 
  padding-left: 4px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 2px; 
  cursor: zoom-out;
  font-weight: bold;
  border:2px groove rgb(255, 45, 45);
  border-radius: 10%;
  color: rgb(202, 16, 16);
  cursor: pointer;
}

.btn-danger {
    background-color: rgb(255, 45, 45);
    border-color:rgb(240, 40, 40);
}
.btn-danger:hover, .btn-danger:visited {
    background-color: rgb(223, 32, 32);
    border-color:rgb(240, 40, 40);
}

.pagina {
    -webkit-transition:opacity 300ms;
    -moz-transition:opacity 300ms;
    -o-transition:opacity 300ms;
    -ms-transition:opacity 300ms;
    transition:opacity 300ms;
    margin-top: 3%;
}

.botoes {
    padding-left: 10%;
    padding-right: 10%;
}
.likert_number li {
    float: left;
    list-style-type: none;
  }

.wrap {
  font:12px Arial, san-serif;
}
h1.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}
form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert li label {width:100%;}

.more_info {
  border-bottom: 1px dotted;
  position: relative;
  cursor: pointer;
}

.more_info .help {
  position: absolute;
  margin-left: 25px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 4px;
  left: 0;
  white-space: nowrap;
  border-radius: 2px;
  z-index: 1000;
  font-size: 12px;
  font-weight: 400;
}