<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Places in Philadelphia</title>
    <style>
        #map {
            width: 700px;
            height: 500px;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script src="grid-bounds.js"></script>

    <script>
        var COLLECT_INTERVAL = 5000;
        var map, service, current_cell = {{start}};  // next: 668
        var overQueryLimit = false;
        
        function initMap() {
            var boston = new google.maps.LatLng(39.95233, -75.16379);
            map = new google.maps.Map(document.getElementById("map"), {center: boston, zoom: 11})
            service = new google.maps.places.PlacesService(map);
            setTimeout(nextQuery, COLLECT_INTERVAL);
        }
        
        function nextQuery() {
            if (overQueryLimit) return;
            
            console.log('Cell: ' + current_cell);
            var cell = grid_cells[current_cell];
            
            var bounds = new google.maps.LatLngBounds();
            for (var c in cell)
                bounds.extend(new google.maps.LatLng(cell[c][0], cell[c][1]));
            
            var request = {bounds: bounds, type: 'point_of_interest'};
            service.nearbySearch(request, callback);

            current_cell--;
            if (current_cell < 0)
                return;
            
            setTimeout(nextQuery, COLLECT_INTERVAL);
        }
        
        function callback(results, status, pagination) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
                console.log(results);
                var json = JSON.stringify(results);
                var ajax = new XMLHttpRequest();
                ajax.open("POST", "/save", true);
                ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                ajax.onreadystatechange = function() {
                    if (ajax.status != 204) {
                        var data = ajax.responseText;
                        console.log('PROBLEM! ' + data);
                    }
                }
                ajax.send("json=" + encodeURIComponent(json));
                for (var i in results)
                    createMarker(results[i]);
                if (pagination.hasNextPage)
                    pagination.nextPage();
            }
            else if (status == google.maps.places.PlacesServiceStatus.OVER_QUERY_LIMIT) {
                console.log('Over query limit.');
                overQueryLimit = true;
            }
            else {
                console.log('STATUS: ' + status)
                console.log(results);
            }
        }
        
        function createMarker(place) {
            var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRvcD0gBT52eVJDBp_PV5ipBWjzgK60fE&libraries=places&callback=initMap" async defer></script>
    
</body>

</html>
